<div>
    <div
    style="
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* This will ensure the images are centered */
    gap: 8px; /* Adjust this value as needed for spacing */
    ">
        <div style="flex: 1; text-align:center;">
            <img src='{{.Get "src1"}}' style='height: auto; max-width: 70%;'>
        </div>
        <div style="flex: 1; text-align:center;">
            <img src='{{.Get "src2"}}' style='height: auto; max-width: 70%;'>
        </div>
    </div>
    <div style="text-align:center;">
         <text style="font-style: italic; font-size: .9em;">{{.Get "caption" | safeHTML}}</text>
     </div>
</div>