<!-- nav html -->
<div style="display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center;">
    <div>
        {{ if .Get "prevLink" }}
        <a href="{{ .Get "prevLink" | safeURL }}"{{ if strings.HasPrefix (.Get "prevLink") "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Get "prevText" | safeHTML }}</a>
        {{ end }}
    </div>
    <div>
        <a href="/">Home</a> <!-- Adjust the href="/" if your home page has a different URL -->
    </div>
    <div>
        {{ if .Get "nextLink" }}
        <a href="{{ .Get "nextLink" | safeURL }}"{{ if strings.HasPrefix (.Get "nextLink") "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Get "nextText" | safeHTML }}</a>
        {{ end }}
    </div>
</div>
